In [2]:
import os
import pickle
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')

model_location = r'C:\Users\Sagar Mishra\jupyter notebooks\genderClassification.sav'
loaded_model = pickle.load(open(model_location, 'rb'))

test_dataset = r'D:\Datasets\gender-names\name_gender.csv'
data_test = pd.read_csv(test_dataset)
data_test.head(10)

        Name Gender     Score
0      Aaban      M  1.000000
1      Aabha      F  1.000000
2      Aabid      M  1.000000
3  Aabriella      F  1.000000
4       Aada      F  1.000000
5      Aadam      M  1.000000
6      Aadan      M  1.000000
7    Aadarsh      M  1.000000
8      Aaden      M  0.998815
9     Aadesh      M  1.000000

In [3]:
#Preparing the Data:
for i, gender in enumerate(data_test['Gender']):
  if gender.lower() == 'm':
    data_test['Gender'][i] = 1
    data_test['Score'][i] = float(data_test["Score"][i])
  if gender.lower() == 'f':
    data_test['Gender'][i] = 0
    data_test['Score'][i] = 1.0 - float(data_test["Score"][i])

data_test['length'] = data_test.apply(lambda row: len(row.Name), axis=1)
vowels = 'aeiou'
data_test['no_of_vowels'] = 0
data_test['percentage_of_vowels'] = 0.0
data_test['ends_with_vowels'] = 0

for i, names in enumerate(data_test['Name']):
  count_vowels = 0
  for alpha in names.lower():
    if alpha in vowels:
      count_vowels += 1
  data_test['no_of_vowels'][i] = count_vowels
  data_test['percentage_of_vowels'][i] = count_vowels/(len(names))
  if names[len(names)-1] in vowels:
    data_test['ends_with_vowels'][i] = 1
  else:
    data_test['ends_with_vowels'][i] = 0
    
maxLength = data_test['length'].max()

initial = 'abcdefghijklm'
final = 'nopqrstuvwxyz'
dict_alpha = {}
for i in (initial+final):
  if i in initial:
    dict_alpha[i] = float(ord(i) -96 -14)
  if i in final:
    dict_alpha[i] = float(ord(i) -96 -13)
dict_alpha["'"] = 0.0
dict_alpha["-"] = 0.0
dict_alpha[","] = 0.0
dict_alpha[" "] = 0.0
dict_alpha["."] = 0.0
dict_alpha["\\"] = 0.0
dict_alpha["/"] = 0.0
dict_alpha["("] = 0.0
dict_alpha[")"] = 0.0
dict_alpha["["] = 0.0
dict_alpha["]"] = 0.0
dict_alpha["{"] = 0.0
dict_alpha["}"] = 0.0

for i in range(10):
  dict_alpha[str(i)] = 0.0


for i in range(22):
  data_test["{}st_character".format(i)] = 0

for i, names in enumerate(data_test['Name']):
  for j in range(maxLength):
    if j < len(names):
      data_test["{}st_character".format(j)][i] = dict_alpha[names[j].lower()]
    else:
      data_test["{}st_character".format(j)][i] = 0.0
    
data_test = data_test.sample(frac=1).reset_index(drop=True)
y = data_test['Gender']
data_test.drop(labels="Gender", axis=1, inplace=True)

data_test.head(10)

,Name,Score,length,no_of_vowels,percentage_of_vowels,ends_with_vowels,0st_character,1st_character,2st_character,3st_character,...,12st_character,13st_character,14st_character,15st_character,16st_character,17st_character,18st_character,19st_character,20st_character,21st_character
0,Tyleisha,0.000000,8,3,0.375000,1,7,12,-2,-9,...,0,0,0,0,0,0,0,0,0,0
1,Jasimen,0.000000,7,3,0.428571,0,-4,-13,6,-5,...,0,0,0,0,0,0,0,0,0,0
2,Setsuko,0.000000,7,3,0.428571,1,6,-9,7,6,...,0,0,0,0,0,0,0,0,0,0
3,Kalleigh,0.000000,8,3,0.375000,0,-3,-13,-2,-2,...,0,0,0,0,0,0,0,0,0,0
4,Tyquez,1.000000,6,2,0.333333,0,7,12,4,8,...,0,0,0,0,0,0,0,0,0,0
5,Cutina,0.000000,6,3,0.500000,1,-11,8,7,-5,...,0,0,0,0,0,0,0,0,0,0
6,Kiegan,0.963768,6,3,0.500000,0,-3,-5,-9,-7,...,0,0,0,0,0,0,0,0,0,0
7,Sevynn,0.000000,6,1,0.166667,0,6,-9,9,12,...,0,0,0,0,0,0,0,0,0,0
8,Antoine,0.986121,7,4,0.571429,1,-13,1,7,2,...,0,0,0,0,0,0,0,0,0,0
9,Sedale,1.000000,6,3,0.500000,1,6,-9,-10,-13,...,0,0,0,0,0,0,0,0,0,0

In [8]:
for valu in y:
  if valu == 0:
    pass
  elif valu == 1:
    pass
  else:
    print(valu)

In [11]:
data_test.head(10)

,Score,length,no_of_vowels,percentage_of_vowels,ends_with_vowels,0st_character,1st_character,2st_character,3st_character,4st_character,...,12st_character,13st_character,14st_character,15st_character,16st_character,17st_character,18st_character,19st_character,20st_character,21st_character
0,0.000000,8,3,0.375000,1,7,12,-2,-9,-5,...,0,0,0,0,0,0,0,0,0,0
1,0.000000,7,3,0.428571,0,-4,-13,6,-5,-1,...,0,0,0,0,0,0,0,0,0,0
2,0.000000,7,3,0.428571,1,6,-9,7,6,8,...,0,0,0,0,0,0,0,0,0,0
3,0.000000,8,3,0.375000,0,-3,-13,-2,-2,-9,...,0,0,0,0,0,0,0,0,0,0
4,1.000000,6,2,0.333333,0,7,12,4,8,-9,...,0,0,0,0,0,0,0,0,0,0
5,0.000000,6,3,0.500000,1,-11,8,7,-5,1,...,0,0,0,0,0,0,0,0,0,0
6,0.963768,6,3,0.500000,0,-3,-5,-9,-7,-13,...,0,0,0,0,0,0,0,0,0,0
7,0.000000,6,1,0.166667,0,6,-9,9,12,1,...,0,0,0,0,0,0,0,0,0,0
8,0.986121,7,4,0.571429,1,-13,1,7,2,-5,...,0,0,0,0,0,0,0,0,0,0
9,1.000000,6,3,0.500000,1,6,-9,-10,-13,-2,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

X_train = data_test.values
y_train = y

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)

X_train, X_test, y_train, y_val = train_test_split(X_train, y_train,
                                                  test_size=0.5,
                                                  random_state=12)

In [21]:
total_correct = 0
total_checks = len(y_predictions)
for i in range(total_checks):
  if y_predictions[i] == y[i]:
    total_correct += 1

print("Accuracy is ", (total_correct/total_checks)*100)

Accuracy is  90.41304919757958